<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Og.Commerce.Web</title>
    <link rel="stylesheet" href="~/css/site.bundle.min.css" asp-append-version="true" />
</head>
<body>
    <div class="page">
        <partial name="_Navbar" />

        <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                @ViewData["Title"]
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page body -->
            <div class="page-body">
                <div class="container-xl">
                    @RenderBody()
                </div>
            </div>
        </div>

        <partial name="_Footer" />
    </div>
    <script src="~/js/site.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
